body {
    background: black;
    color: white;
}
/*
.grid-header {
    grid-area: header;
}
*/
.grid-container {
    display: grid;
    grid-template-columns: 150px 350px auto ;
    align-items: center;
    padding: 0 4%;
}

.navigation {
    padding: 0px;
}

.navigation-tab {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    color: white;
}