html,body {
    height: 100%;
}

body {
    background: black;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 460px 320px 108px 140px;
    align-items: center;
    padding: 0 4%;
    position: absolute;
    z-index: 2;
}

.navigation {
    padding: 0px;
}

.navigation-tab {
    display: inline-block;
    padding: 2px;
    margin-left: 10px;
    font-size: 14px;
    color: #e5e5e5;
}

.navigation-tab:hover {
    color: #b3b3b3;
}

.navigation-tab:active {
    color: white;
}

.grid-item-3 {
    width: 100px;
    height: 35px;
}

.fa-search {
    position: relative;
    padding-left: 17px;
    padding-right: 21px;
    padding-top: 7px;
    font-size: 22px;
}

.fa-child {
    position: relative;
    padding-top: 7px;
    font-size: 22px;
}

.grid-exit {
    background: #e50914;
    padding-left: 20px;
    padding-right: 14px;
    height: 32px;
    border: 0;
    border-radius: 4px;
}

.letter-exit {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.img-wrapper {
    position: absolute;
    width: 100%;
    height: 75%;
    background: url(../img/naruto-uzumaki-4k-papel-de-parede-1024x768_18.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
}

section.spotlight {
    background-image: url(../img/naruto-uzumaki-4k-papel-de-parede-1024x768_18.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 600px;
    position: absolute;
    z-index: 1;
}

.overlay {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.text-spotlight {
    color: white;
    z-index: 3;
    position: relative;
    margin-top: 130px;
    margin-left: 4%;
}

.text-spotlight h2{
    margin: 10px 0 0 0;
    color: #b10f17;
    font-size: 50px;
    text-transform: uppercase;
}

.text-spotlight p{
    font-size: 20px;
}

.text-spotlight a{
    text-decoration: none;
    padding: 8px 40px;
    font-size: 23px;
    display: inline-block;
    margin-right: 15px;
    border-radius: 6px;
}

.watch {
    background-color: white;
    color: black;
}

.watch:hover {
    background-color: rgba(255,255,255,0.8);
    color: black;
}

.more-informations {
    background-color: rgba(109,109,110,0.9);
    color: rgba(255,255,255,1);
}

.more-informations:hover {
    background-color: rgba(109,109,110,0.6);
    color: rgba(255,255,255,1);
}

.maturity {
    position: absolute;
    right: 0;
    top: 160%;
    padding: 1% 0% 0% 7%;
    border: solid 3px #dcdcdc;
    border-style: none none none solid;
    background-color: rgba(51,51,51,.6);
    align-items: center;
    height: 25%;
    box-sizing: border-box;
}

.free {
    position: relative;
    right: 77px;
    bottom: 4px;
}

.character {
    position: absolute;
    z-index: 3;
    width: -webkit-fill-available;
    top: 555px;
}

.slider-head {
    line-height: 1.3;
    margin: 0;
}

.slider-title {
    font-size: 24px;
    color: #e5e5e5;
    margin: 0 4% .5em 4%;
    text-decoration: none;
    display: inline-block;
}

.slider {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    height: 197px;
    padding: 0 4%;
    background-color: white;
}

.character-item {
    padding: 0 2px;
}

.character-wrap {
    width: 100%;
    height: 100%;
    border-radius: 250px;
    overflow: hidden;
    min-width: 100%;
}


.character-1 {
    background: linear-gradient(to top,#ffb400,#ffe25b);
}

.character-1:hover {
    transform: scale(1.2);
}


.character-2 {
    background: linear-gradient(to top,#ff6000,#ffae7d);
}

.character-2:hover {
    transform: scale(1.2);
}

.character-3 {
    background: linear-gradient(to top,#9fcd00,#cfed66);
}

.character-3:hover {
    transform: scale(1.2);
}

.character-4 {
    background: linear-gradient(to top,#00c6d8,#86f5ff);
}

.character-4:hover {
    transform: scale(1.2);
}

.character-5 {
    background: linear-gradient(to top,#d926ff,#eea1ff);
}

.character-5:hover {
    transform: scale(1.2);
}

.character-6 {
    background: linear-gradient(to top,#bb1919,#ff2600);
    
}
.character-6:hover {
    transform: scale(1.2);
}

.left-arrow {
    background: rgba(20,20,20,.5);
    position: absolute;
    z-index: 4;
    top: 42px;
    bottom: 0;
    width: 4%;
    height: 200px;
    text-align: center;
    display: grid; 
}

.arrow-button-1 {
    width: 50px;
    display: grid;
    grid-template-rows: auto auto auto;
    align-self: center;
}

.right-arrow {
    background: rgba(20,20,20,.5);
    position: absolute;
    z-index: 4;
    top: 42px;
    bottom: 0;
    left: 1230px;
    width: 4%;
    height: 200px;
    text-align: center;
    display: grid; 
}

.arrow-button-2 {
    width: 50px;
    display: grid;
    grid-template-rows: auto auto auto;
    align-self: center;
}

.fa-chevron-left {
    font-size: 25px;
}

.fa-chevron-right {
    font-size: 25px;
}

.see {
    position: absolute;
    z-index: 3;
    width: -webkit-fill-available;
    top: 800px;
}