body {
    background: black;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 460px 320px 100px auto ;
    align-items: center;
    padding: 0 4%;
}

.navigation {
    padding: 0px;
}

.navigation-tab {
    display: inline-block;
    padding: 2px;
    margin-left: 10px;
    font-size: 14px;
    color: #e5e5e5;
}

.navigation-tab:hover {
    color: #b3b3b3;
}

.navigation-tab:active {
    color: white;
}

.grid-exit {
    background: #e50914;
    padding-left: 20px;
    padding-right: 14px;
    height: 32px;
    border: 0;
    border-radius: 4px;
}

.letter-exit {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}